body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,span,form,table,td,dl,dt,dd,img,div{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
body,html{
    width: 100%;
    font: normal 1rem/2rem 微软雅黑;
    background: #fff;
}
a{ text-decoration: none;}
img{ border: 0; display: block;}
ul,li{ list-style: none;}
input,textarea,select,button[type=text]{outline: none;background: transparent;-webkit-appearance: none;border: none;}
/*input:focus{outline: none;}*/
textarea{resize: none;}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

/*弹性盒子兼容*/
.jianr{display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers. */
    display: -moz-box;    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
    display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */
    /*垂直居中*/
    /*老版本语法*/
    -webkit-box-align: center;
    -moz-box-align: center;
    /*混合版本语法*/
    -ms-flex-align: center;
    /*新版本语法*/
    -webkit-align-items: center;
    align-items: center;
    /*水平居中*/
    /*老版本语法*/
    -webkit-box-pack: center;
    -moz-box-pack: center;
    /*混合版本语法*/
    -ms-flex-pack: center;
    /*新版本语法*/
    -webkit-justify-content: center;
    justify-content: cent;
    
	-webkit-flex-wrap:wrap;
    -webkit-box-lines:multiple;
    -o-flex-wrap: wrap;
    -moz-flex-wrap:wrap;
    flex-wrap:wrap;
}

