body{background-color: #fff;}
a.back{position:absolute;left: 0.5rem;top:1rem;color: #202020;}
.sign{width:100%;height: 7.5rem;border-bottom: 0.1rem solid #EEEEEE;box-sizing: border-box;padding:1.51rem 0.89rem 0;}
.sign p{font-size: 1.21rem;color: #101010;}
.sign p .span_1{color: #E74751;font-size: 1.01rem;}
.sign ul{display: flex;justify-content: center;width: 100%;}
.sign ul li{width: 33.3%;text-align: center;font-size: 0.71rem;color: #A0A0A0;overflow: hidden;white-space: nowrap;}
.sign ul li span{font-size: 0.78rem;}
		
.guige{width: 100%;height: 2.78rem;border-bottom: 0.1rem solid #EEEEEE;position: relative;}
.guige p{font-size: 0.96rem;color: #353535;line-height: 2.78rem;box-sizing: border-box;padding-left: 0.89rem;}
.guige button{position: absolute;top: 0;right: 0.89rem;font-size: 0.96rem;height: 2.78rem;color: #B9B9B9;}
	
.liyou{width: 100%;height: 6.73rem;border-bottom: 0.1rem solid #EEEEEE;box-sizing: border-box;padding: 1rem 0.89rem 0;}
.liyou h3{font-size: 0.96rem;color: #353535;}
.liyou p{font-size: 0.82rem;color: #6A6A6A;line-height: 1.2rem;padding-top: 0.4rem;}

.pingjia{width: 100%;height: auto;border-bottom: 0.1rem solid #EEEEEE;box-sizing: border-box;padding: 1rem 0.89rem;}
.pingjia h3{font-size: 0.96rem;color: #353535;}
.pingjia ul{display: flex;justify-content: center;width: 100%;margin-top: 1rem;}
.pingjia ul li{width: 30%;margin: 0 1%;position: relative;}
.pingjia ul li .tu{width: 100%;}
.pingjia ul li span.tit{font-size: 0.62rem;color: #616161;text-align: center;line-height: 1.72rem;display: block;}
.pingjia ul li .toux{width: 2.21rem;margin-top: 0.23rem;}
.pingjia ul li p.name{position: absolute;left: 46%;top:8.4rem;font-size: 0.62rem;color: #616161;}
		
.shangla{width: 100%;height: 2.36rem;border-bottom: 0.1rem solid #EEEEEE;}
.shangla p{text-align: center;line-height: 2.36rem;font-size: 0.78rem;color: #616161;}
.shangla p span{font-size: 0.71rem;}
	
	
	
.goumai_zz{width: 100%;height: 50%;position: fixed;z-index: 5;bottom: 3.5rem;background-color: #fff;box-sizing: border-box;padding: 3.28rem 0.89rem 0;display: none;}
.cur{display: block}
.goumai_zz ul{display: flex;justify-content: flex-start;}
.goumai_zz ul li{position: relative;}
.goumai_zz ul li img{width: 6.86rem;}
.goumai_zz ul li:nth-child(2){padding-left: 1.2rem;}
.goumai_zz ul li .span_1{font-size: 0.85rem;line-height: 1.2rem;color: #E74751;}
.goumai_zz ul li p.xuan{font-size: 1rem;line-height: 2.28rem;color: #353535;}


.goumai_zz .close{font-size: 3rem;font-weight: 100;color: #353535;position: absolute;right: 0;top: 1rem;}


.footer{width: 100%;height: 3.5rem;border-top: 0.1rem solid #EEEEEE;border-bottom: 0.1rem solid #EEEEEE;margin-top: 1.14rem;position: relative;}
.footer button{position: absolute;width: 30%;height: 100%;font-size: 0.78rem;color: #5C5C5C;}
.footer .gouwuche{right: 30%;background-color: #EEEEEE;}
.footer .goumai{right: 0;background-color: #FCD019;}
.footer .goumai a{color: #5C5C5C;}
.footer .erji{color: #5C5C5C;line-height: 3.5rem;text-align: right;width: 2.5rem;}
.footer .car{color: #5C5C5C;line-height: 3.5rem;text-align: right;width: 2.5rem;}
			
		
